<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap CRUD Data Table for Database with Modal Form</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/contentadmin/css/sinhvien.css">
    <link rel="stylesheet" type="text/css" href="/contentadmin/css/header.css">
    <link rel="stylesheet" type="text/css" href="/contentadmin/css/thongbao.css">
</head>

<body>
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/admin/hoatdong/xoahoatdong/<%= Id %>" method="POST">
                <div class="modal-header">
                    <h4 class="modal-title">Xóa Hoạt động</h4>
                </div>
                <div class="modal-body">
                    <p>Bạn chắc chắn muốn xóa Hoạt động này ?</p>
                    <p class="text-warning"><small>Xóa và không thể hoàn tác được.</small></p>
                </div>
                <div class="modal-footer">
                    <a href="/admin/hoatdong" class="btn btn-info" data-dismiss="modal">Cancel</a>
                    <input type="submit" class="btn btn-danger" value="Delete">
                </div>
            </form>
        </div>
    </div>
</body>

</html>