<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Thông tin Đoàn-Hội</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i" rel="stylesheet">

    <link rel="stylesheet" href="/contentindex/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/contentindex/css/animate.css">
    
    <link rel="stylesheet" href="/contentindex/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/contentindex/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/contentindex/css/magnific-popup.css">

    <link rel="stylesheet" href="/contentindex/css/aos.css">

    <link rel="stylesheet" href="/contentindex/css/ionicons.min.css">

    <link rel="stylesheet" href="/contentindex/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/contentindex/css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="/contentindex/css/flaticon.css">
    <link rel="stylesheet" href="/contentindex/css/icomoon.css">
    <link rel="stylesheet" href="/contentindex/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <script src="https://apps.elfsight.com/p/platform.js" defer></script>
  </head>
  <body>
    
			<nav class="navbar navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
					<div class="container d-flex align-items-stretch">
						<div class="col-3 d-flex align-items-center">
							<a class="navbar-brand" href="/trangchu">HUFLIT<span>Socialhub</span></a>
						</div>
						<div class="col-9 d-flex align-items-center text-right">
							<ul class="ftco-social mt-2 mr-3">
								<li class="ftco-animate"><a href="https://www.facebook.com/HUFLITmediagroup/"><span class="icon-facebook"></span></a></li>
								<li class="ftco-animate"><a href="https://www.youtube.com/user/HUFLITMediaGroup"><span class="icon-youtube"></span></a></li>
							</ul>
			
							<button class="navbar-toggler d-flex align-items-center" type="button" data-toggle="collapse"
								data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false"
								aria-label="Toggle navigation">
								<span class="pt-1 mr-1">Menu</span> <span class="oi oi-menu"></span>
							</button>
						</div>
			
			
						<div class="collapse navbar-collapse" id="ftco-nav">
							<ul class="navbar-nav ml-auto">
								<li class="nav-item"><a href="/hoatdong" class="nav-link">Hoạt dộng</a></li>
								<li class="nav-item"><a href="/profile" class="nav-link">Profile</a></li>
								<li class="nav-item"><a href="/" class="nav-link">Log out</a></li>
								
							</ul>
						</div>
					</div>
				</nav>
				<!-- END nav -->
    
    <section class="hero-wrap hero-wrap-2" style="background-image: url('uploads/imageBGDH.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate pb-5 text-center">
            <h1 class="mb-2 bread">THÔNG TIN ĐOÀN - HỘI</h1>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-daily-verse bg-light">
    	<div class="container">
    		<div class="row justify-content-center">
    			<div class="col-md-10 daily-verse text-center p-5">
    				<span class="far fa-heart"></span>
    				<h3 class="ftco-animate" style="font-family: sans-serif">"Chúng tôi sẽ luôn ở bên bạn"</h3>
    				<h4 class="h5 mt-4 font-weight-bold ftco-animate">Thứ 2 - Thứ 6 09:00 – 18:00</h4>
    			</div>
    		</div>
    	</div>
    </section>

    <section class="ftco-section contact-section">
      <div class="container">
        <div class="row d-flex mb-5 contact-info">
          <div class="col-md-12 mb-4">
            <h2 class="h3">Thông tin chúng tôi</h2>
          </div>
          <div class="w-100"></div>
          <div class="col-md-3">
            <p><span>Địa chỉ:</span> 155 Sư Vạn Hạnh (nối dài), phường 13, Quận 10, Thành phố Hồ Chí Minh, Việt Nam</p>
          </div>
          <div class="col-md-3">
            <p><span>Phone:</span> <a href="tel://1234567920">0123 456 789</a></p>
          </div>
          <div class="col-md-3">
            <p><span>Email:</span> <a href="mailto:info@huflit.com">info@yoursite.com</a></p>
          </div>
        </div>
        <div class="row block-9">
          <div class="col-lg-6 order-md-last d-flex">
              <div class="elfsight-app-2c629f03-a1f1-45d5-8d92-f79dc0033022"></div>
          </div>
          <div class="col-lg-6 d-flex">
          	<div class="bg-white"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3919.4611111522904!2d106.6652993!3d10.775952!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752edb9ff98b9f%3A0xc0b4bddfb6d64358!2zSFVGTElUIE1lZGlhIEdyb3VwL0JhbiBUcnV54buBbiBUaMO0bmcgxJBvw6BuIC0gSOG7mWkgSFVGTElU!5e0!3m2!1sen!2s!4v1558515874567!5m2!1sen!2s" width="500" height="650" frameborder="0" style="border:0" allowfullscreen></iframe></div>
          </div>
        </div>
      </div>
    </section>

  	<footer class="ftco-footer ftco-bg-dark ftco-section">
				<div class="container">
					<div class="row mb-5">
						<div class="col-md">
							<div class="ftco-footer-widget mb-4">
								<h2 class="ftco-heading-2"><a href="/Trangchu">Home</a></h2>			
							</div>
						</div>
						<div class="col-md">
							<div class="ftco-footer-widget mb-4 ml-md-5">
								<h2 class="ftco-heading-2"><a href="/Hoatdong">Hoạt động</a></h2>					
							</div>
						</div>
						<div class="col-md">
							<div class="ftco-footer-widget mb-4 ml-md-5">
								<h2 class="ftco-heading-2"><a href="/Profile">Profile</a></h2>			
							</div>
						</div>
						<div class="col-md">
							<div class="ftco-footer-widget mb-4">
								<h2 class="ftco-heading-2"><a href="/">Log out</a></h2>			
							</div>
						</div>
					</div>
				</div>
			</footer>
    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="/contentindex/js/jquery.min.js"></script>
  <script src="/contentindex/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/contentindex/js/popper.min.js"></script>
  <script src="/contentindex/js/bootstrap.min.js"></script>
  <script src="/contentindex/js/jquery.easing.1.3.js"></script>
  <script src="/contentindex/js/jquery.waypoints.min.js"></script>
  <script src="/contentindex/js/jquery.stellar.min.js"></script>
  <script src="/contentindex/js/owl.carousel.min.js"></script>
  <script src="/contentindex/js/jquery.magnific-popup.min.js"></script>
  <script src="/contentindex/js/aos.js"></script>
  <script src="/contentindex/js/jquery.animateNumber.min.js"></script>
  <script src="/contentindex/js/scrollax.min.js"></script>
  <script src="/contentindex/js/main.js"></script>
    
  </body>
</html>