<!DOCTYPE html>
<html lang="en">

<head>
  <title>Kênh thông tin Sinh viên</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i" rel="stylesheet">

  <link rel="stylesheet" href="/contentindex/css/open-iconic-bootstrap.min.css">
  <link rel="stylesheet" href="/contentindex/css/animate.css">

  <link rel="stylesheet" href="/contentindex/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/contentindex/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="/contentindex/css/magnific-popup.css">

  <link rel="stylesheet" href="/contentindex/css/aos.css">

  <link rel="stylesheet" href="/contentindex/css/ionicons.min.css">

  <link rel="stylesheet" href="/contentindex/css/bootstrap-datepicker.css">
  <link rel="stylesheet" href="/contentindex/css/jquery.timepicker.css">


  <link rel="stylesheet" href="/contentindex/css/flaticon.css">
  <link rel="stylesheet" href="/contentindex/css/icomoon.css">
  <link rel="stylesheet" href="/contentindex/css/style.css">
  <script src="https://apps.elfsight.com/p/platform.js" defer></script>
</head>

<body>

    <nav class="navbar navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container d-flex align-items-stretch">
          <div class="col-3 d-flex align-items-center">
            <a class="navbar-brand" href="/trangchu">HUFLIT<span>Socialhub</span></a>
          </div>
          <div class="col-9 d-flex align-items-center text-right">
            <ul class="ftco-social mt-2 mr-3">
              <li class="ftco-animate"><a href="https://www.facebook.com/HUFLITmediagroup/"><span class="icon-facebook"></span></a></li>
              <li class="ftco-animate"><a href="https://www.youtube.com/user/HUFLITMediaGroup"><span class="icon-youtube"></span></a></li>
            </ul>
    
            <button class="navbar-toggler d-flex align-items-center" type="button" data-toggle="collapse"
              data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="pt-1 mr-1">Menu</span> <span class="oi oi-menu"></span>
            </button>
          </div>
    
    
          <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a href="/hoatdong" class="nav-link">Hoạt dộng</a></li>
              <li class="nav-item"><a href="/profile" class="nav-link">Profile</a></li>
              <li class="nav-item"><a href="/login" class="nav-link">Log out</a></li>
              
            </ul>
          </div>
        </div>
      </nav>
      <!-- END nav -->

  <section class="hero-wrap hero-wrap-2" style="background-image: url('/uploads/imageBG2.jpg');"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-end justify-content-center">
        <div class="col-md-9 ftco-animate pb-5 text-center">
          <h1 class="mb-2 bread">KÊNH THÔNG TIN HUFLIT</h1>
        </div>
      </div>
    </div>
  </section>
  <div class="elfsight-app-75219d67-dba7-42e3-89bf-1f12a5c88068"></div>
  <div class="elfsight-app-1cc43efc-e875-40b0-81f8-02d48add7cb6"></div>

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
      <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
      <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
        stroke="#F96D00" /></svg></div>


  <script src="/contentindex/js/jquery.min.js"></script>
  <script src="/contentindex/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/contentindex/js/popper.min.js"></script>
  <script src="/contentindex/js/bootstrap.min.js"></script>
  <script src="/contentindex/js/jquery.easing.1.3.js"></script>
  <script src="/contentindex/js/jquery.waypoints.min.js"></script>
  <script src="/contentindex/js/jquery.stellar.min.js"></script>
  <script src="/contentindex/js/owl.carousel.min.js"></script>
  <script src="/contentindex/js/jquery.magnific-popup.min.js"></script>
  <script src="/contentindex/js/aos.js"></script>
  <script src="/contentindex/js/jquery.animateNumber.min.js"></script>
  <script src="/contentindex/js/bootstrap-datepicker.js"></script>
  <script src="/contentindex/js/jquery.timepicker.min.js"></script>
  <script src="/contentindex/js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false">
  </script>
  <script src="/contentindex/js/google-map.js"></script>
  <script src="/contentindex/js/main.js"></script>

</body>

</html>